@model IEnumerable<SimpleBlog.Models.ArticlesModel>

@{
    ViewBag.Title = "Статьи с сайта";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model) {
    <div class="jumbotron mt-3">
        <h1>@Html.DisplayFor(model => item.header)</h1>
        <p class="lead">@Html.DisplayFor(model => item.text)</p>
        <p class="lead"><b>Автор: </b>@Html.DisplayFor(model => item.author)</p>
        <a class="btn btn-lg btn-primary" href="" role="button">Читать далее >></a>
    </div>
}